/* VARIABLES */
:root {
    --dark-color: #313131;
    --light-color: #F9F9F9;
    --spotlight-color: #FFB266;
    --font-primary: 'Times New Roman', Times, serif;
    --font-secondary: 'Arial', Helvetica, sans-serif;
    --transition: all 0.3s linear;
    --radius: 0.3rem;
    --spacing: 0.3rem;
}

/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--dark-color);
    color: var(--light-color);
    line-height: 1.5;
    font-family: var(--font-secondary);
}

h1, h2, h3, h4 {
    text-transform: capitalize;
    word-spacing: var(--spacing);
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    word-spacing: var(--spacing);
    margin: 1rem 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

img {
    width: 100%;
    height: 60vh;
    display: block;
}

.spotlight {
    color: var(--spotlight-color);
}

.title {
    font-family: var(--font-primary);
}

.sub-title {
    font-family: var(--font-primary);
    margin: 1rem 0;
}

.text-container {
    text-align: center;
    padding: 1rem;
}

.clearfix {
    clear: both;
}

.round {
    border-radius: 50%;
}

/* HEADER */
.navigation {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    text-align: center;
}

.navigation .logo {
    text-transform: uppercase;
}

.nav-bar {
    margin-top: 1rem;
}

.nav-bar .nav-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: var(--transition);
    cursor: pointer;
    border-radius: var(--radius);
}

.nav-bar .nav-link:hover {
    background: var(--spotlight-color);
    color: var(--light-color);
}

/* SHOWCASE */
.showcase {
    width: 100%;
    height: calc(100vh - 120px);
    background: url(../img/main-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.showcase-dark-bg {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.showcase-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.showcase-text p {
    margin: 2rem 0;
}

.btn {
    display: inline-block;
    background: rgba(0, 0, 0, 0.7);
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    color: var(--light-color);
    transition: var(--transition);
    cursor: pointer;
    margin-top: 1rem;
}

.btn:hover {
    color: var(--spotlight-color); 
}

/* FEATURES */
.features {
    color: var(--dark-color);
    text-align: center;
}

.box {
    background: var(--light-color);
    height: 300px;
    padding: 3rem 2rem;
    border-bottom: 2px solid var(--dark-color);
    transition: var(--transition);
}

.box:hover {
    background: var(--spotlight-color);
}

.box h3 {
    margin-bottom: 1rem;
}

.icon {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

/* ABOUT */
.about {
    padding: 1rem;
    background: var(--light-color);
    color: var(--dark-color);
}

.about img {
    width: 400px;
    height: 400px;
    margin: 2rem auto;
}

/* GUESTS */
.guests {
    background: url(../img/guests-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.guests .sub-title {
    text-align: center;
    margin-bottom: 3rem;
}

.guest-comment {
    margin: 0 auto 3rem auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    width: 80%;
}

.guests img {
    width: 120px;
    height: 120px;
    margin: 1rem auto;
}

/* FOOTER */
footer {
    padding: 1rem;
    text-align: center;
}

footer p {
    margin: 0.5rem 0;
}

@media screen and (min-width: 720px) {
    h1 {
        font-size: 3rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.6rem;
    }
    
    h4 {
        font-size: 1rem;
    }
    
    .navigation {
        padding: 2.5rem;
    }

    .logo {
        position: absolute;
        top: 25%;
        left: 0;
    }

    .nav-bar {
        position: absolute;
        top: 25%;
        right: 1rem;
    }

    .nav-link {
        margin-left: 1rem;
    }

    .showcase {
        height: 90vh;
    }

    .right {
        float: right;
        width: 50%;
        text-align: left;
    }

    .left {
        float: left;
        width: 50%;
        text-align: right;
    }

    .text-container {
        padding: 2rem;
    }

    .box {
        float: left;
        width: 33.3%;
    }

    .about-text {
        float: left;
        width: 40%;
        padding: 2rem 0 0 3rem;
    }
    
    .guest-comment {
        height: 160px;
    }

    .guests img {
        float: left;
        margin: 0 2rem;
    }
}